.sorting-parameters {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #100406;
  height: 50px;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.bars {
  position: absolute;
  left: 100px;
  /* top: 100px; */
}
