.dropdown {
    position: relative;
}
  
.algorithm-menu {
    position: absolute;
    bottom: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    width: 100%;
}
  
.algorithm-menu > li {
    margin: 0;
    background-color: white;
}
  
.algorithm-menu > li:hover {
    background-color: lightgray;
}
  
.algorithm-menu > li > button {
    height: 100%;
    text-align: left;
    
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
}